.quiz {
	padding: 3em;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.quiz > h2 {
	cursor: pointer;
}

.questionnaire{
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.quiz > h2 {
	text-align: center;
	text-decoration: underline;
	font-family: var(--ff-secondary);
	font-weight: var(--fw-700);
	font-size: var(--fs-large);
}

.results {
	display: flex;
	justify-content: center;
	align-items: center;
}

.results__score {
	font-weight: var(--fw-700);
	font-size: var(--fs-score);
	margin: 0 auto;
	text-decoration: solid underline var(--clr-secondary) 3px;
}

.check-answers-btn {
	font-weight: var(--fw-500);
	font-size: var(--fs-regular);

	border-radius: 15px;
	padding: 1em 1.75em;
	margin: 0 auto;
}
