:root {
	--ff-primary: "Inter", sans-serif;
	--ff-secondary: "Karla", sans-serif;

	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;

	--fs-large: 2rem; /* 31.25px; */
	--fs-regular: 1rem; /* 16px; */
	--fs-score: 1.2rem; /* 12.8px; */

	--clr-primary: #eaedf5;
	--clr-secondary: #293264;

	--clr-lg-btn: #4d5b9e;
	--clr-selector: #d6dbf5;
	--clr-correct: #94d7a2;
	--clr-wrong: #f8bcbc;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: var(--ff-primary);
	color: var(--clr-secondary);
	background-color: var(--clr-primary);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;

	display: grid;
	place-items: center;
	user-select: none;
}

img {
	display: block;
	max-width: 100%;
	margin: auto;
}

main {
	max-width: 1500px;
	margin: auto;
}

p,
h1,
h2 {
	letter-spacing: 0.04rem;
	max-inline-size: 50ch;
	text-wrap: balance;
}

/* buttons */

.btn {
	color: var(--clr-primary);
	background-color: var(--clr-lg-btn);

	cursor: pointer;
	border: none;
	transition: 150ms;
}

.btn:focus {
	outline: none;
}

.btn:hover {
	background-color: #616fb8;
}

.btn:active {
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
